body{
    background-color: rgb(255, 255, 255);
}

#mainContent{
    width: 99%;
    height: 100%;
    position: fixed;
    /*top: 35px;*/   
}

#buttonbar{
    width: auto;
    height: 35px;
}

#codemirror{
    position: relative;
    top: +35px;
    width: 100%;
    height: auto;
}

.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    height: 100%;
    width: 100%;
  }

/* css classes for horizontal view */
#container{
	position: auto;
    width: 100%;
    height: 24%;
    border: 1px solid red;
    margin-right: 7px;
}

#browser{
	top: 0px;
    width: 100%;
    height: 75%;
    border: 1px solid blue;
}

/* css classes for vertical view */
#container1{
    width: 49%;
    height: 100%;
    clear: Both;
	float: right;
    border: 1px solid red;
	margin-right: 7px;
}

#browser1{
    width: 49%;
    height: 100%;
    float: left;
    border: 1px solid blue;
}